<!DOCTYPE html>
<html lang="en">

<head>
<%- include('../partials/head') %>
<link rel="stylesheet" href="../css/404.css">
<script src="scripts\404Script.js"></script>
</head>

<!-- ======================Main Body==================== -->
<!-- a simple 404 page which will stop the user from going to a wrong address, a small button 
will redirect them to index -->
<body>
    <div class="container">
        <h1>404 - Page Not Found</h1>
        <img src="images/missingno.png" id="missingno">
        <p>Looks like you found an unknown page, sadly you wont be able to catch it</p>
        <button id="goBackButton">Back to Pokebrowse!</button>
    </div>
</body>