<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PokéBrowse</title>
<!-- This header ejs links the pokemon title image, its own css as well as jquery, the font we use
the dark mode js, its own script and also imports a google font -->
<link rel="icon" type="image/x-icon" href="../images/FinalPokemonLogo.png">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="scripts\darkmode.js"></script>
<script src="scripts\navbarScript.js"></script>
<script src="https://kit.fontawesome.com/67b18c1229.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../css/navbar.css" id="navbarStyle">

<style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
</style>