
<!-- The nav ejs is a simple nav bar which assists the user to navigate pages, it has
the index, users page, pokesearch page and the inventory -->
<header>
    <div class="pageHeader">
        <div class="siteLogo">
            <img src="images\FinalPokemonLogo.png" id="siteLogo">
        </div>

        <div class="title">
            <img src="images\pokeDex.png" id="siteTitle">
        </div>

        <div class="navigation">
            <ul>
                <li><a href="/users"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="/"><i class="fa-solid fa-list"></i></a></li>
                <li><a href="/pokesearch"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a href="/inventory"><i class="fa-solid fa-heart"></i></a></li>
            </ul>
        </div>
    </div>
</header>